
/* FLEX BOX */ 

body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.main_container{
    display: flex;
    min-width: calc(100vw - 300px);
    min-height: calc(100vh - 170px);
    /* calcs above makes sure main container is window size minus header/sidebar size */
}

.header{
    height: 170px;
    background: lightslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: pretty;
}

.sidebar {
    min-width: 300px;
    max-width: 300px;
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.map_container {
    flex-grow: 1;
    background: white;
    display: flex;
}

.inner_text {
    margin: auto;
}

.h1 {
    font-size: 40px;
    padding: 0px;
    margin: 0px;
}

.p {
    font-size: 14px;
    margin: 2px;
    padding: 0px;
    text-wrap: pretty;
}

.h3 {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

.marker {
  background-color: blue;
  border: 3px solid black;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}